body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app-container{
    width: 300px;
    margin: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 20px 20px;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px;
    background-color: white;
}
.todo-button{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}